# This workflow runs a `deno check` against slack sample apps
name: Samples Integration Type-checking

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  samples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sample:
          - slack-samples/deno-issue-submission
          - slack-samples/deno-starter-template
          - slack-samples/deno-blank-template
          - slack-samples/deno-message-translator
          - slack-samples/deno-request-time-off
          - slack-samples/deno-simple-survey
        # we test on both most recent stable version of deno (v1.x) as well as
        # the version of deno used by Run on Slack (as noted in https://api.slack.com/slackcli/metadata.json)
        deno-version:
          - v1.x
          - v1.45.4
          - v2.x

    steps:
      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Checkout the api
        uses: actions/checkout@v4
        with:
          path: ./deno-slack-api
      - name: Checkout the ${{ matrix.sample }} sample
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.sample }}
          path: ./sample

      - name: Set imports.deno-slack-api/ to ../deno-slack-api/src/ in imports
        run: >
          deno run
          --allow-read --allow-write --allow-net
          deno-slack-api/scripts/src/imports/update.ts
          --import-file "./sample/import_map.json"
          --api "./deno-slack-api/"

      - name: Deno check **/*.ts
        working-directory: ./sample
        run: find . -type f -regex ".*\.ts" | xargs deno check -r
